<head>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<% layout('/layouts/boilerplate') %>


<div class="container">
<h1 class="mb-4">Bine ai venit pe pagina principală!</h1>
<div class="mb-4">
<form action="/cars/search" method="GET" class="search-form">
  <div class="mb-3">
      <label for="plate" class="form-label">Caută mașina</label>
      <input type="text" name="plate" id="plate" class="form-control" placeholder="Număr de înmatriculare " required>
  </div>
  <button type="submit" class="btn btn-primary">Caută</button>
</form>
</div>


<h3 id="ServiceSection" class="mb-4">Serviciile noastre</h3>
    <% for(let service of services) {%>
      <div class="card mb-3" style="max-width: 600px;">
      
        <div class="row g-0">
          <div class="col-md-4">
            <img src="<%= service.images[0].url %>" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
             <a href="/services/<%=service._id %>"> <h5 class="card-title"><%=service.name %></h5> </a>
              <% if (currentUser && currentUser.role === 'manager') { %>
                <div class="d-flex mb-2">
                    <a class="btn btn-warning me-2" href="/services/<%=service._id %>/edit">Modifică</a>
                    <form action="/services/<%=service._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Șterge</button>
                    </form>
                </div>
            <% } %>
            </div>
          </div>
        </div>
     
      </div>
        <% } %>




<h3 id="PostariSection" class="mb-4" >Proiectele noastre</h3>

<% for(let post of postari) {%>
    <div class="card mb-3" style="max-width: 600px;">
      
        <div class="row g-0">
          <div class="col-md-4">
            <img src="<%= post.images[0].url %>" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
             <a href="/postari/<%=post._id %>"> <h5 class="card-title"><%=post.name %></h5> </a>
              <% if (currentUser && currentUser.role === 'manager') { %>
                <div class="d-flex mb-2">
                    <a class="btn btn-warning me-2" href="/postari/<%=post._id %>/edit">Modifică</a>
                    <form action="/postari/<%=post._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Șterge</button>
                    </form>
                </div>
            <% } %>
            </div>
          </div>
        </div>
     
      </div>
      
        <% } %>
    
    
   



<h3 id="AngajatiSection" class="mb-4">Fă cunoștință cu echipa</h3>

<% for(let angajat of an) {%>
    <div class="card mb-3 " style="max-width: 600px;">
      
        <div class="row g-0">
          <div class="col-md-4">
            <img src="<%= angajat.images[0].url %>" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
            <h4 class="card-title"><%=angajat.name %></h4> 
            <h5 class="card-title"><%=angajat.role %></h5> 
            <p class="card-text"><%=angajat.about %></p>
              <% if (currentUser && currentUser.role === 'manager') { %>
                <div class="d-flex mb-2">
                    <a class="btn btn-warning me-2" href="/angajati/<%=angajat._id %>/edit">Modifică</a>
                    <form action="/angajati/<%=angajat._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Șterge</button>
                    </form>
                </div>
            <% } %>
            </div>
          </div>
        </div>
     
      </div>
      
        <% } %>


        <div class="container d-flex justify-content-center align-items-center mt-4 mb-4">
          <div class="row">
              <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                  <div class="card shadow">
                         <div class="card-body">
      <h5 id="MakeAnAppoinment" class="card-title mb-4">Programează-te aici</h5>                                      
      <form action="/programare" method="POST" class="validated-form" novalidate>
      <div class=" mb-3">
          <label for="model" class="form-label">Nume & prenume</label>
          <input type="text" name="name" id="name" class="form-control"  required>
          <div class="valid-feedback">
           Looks good!
          </div>
         </div>
      
         <div class=" mb-3">
          <label for="plate" class="form-label">Telefon</label>
          <input type="text" name="phone" id="phone" class="form-control"  required>
          <div class="valid-feedback">
           Looks good!
          </div>
         </div>
      
       
    
         <div class="mt-3 mb-3">
          <label for="date" class="form-label">Data</label>
          <select id="date" name="date" class="form-control mb-3" aria-label="Default select example">
              <% datesWithAvailableHours.forEach(dateObj => { %>
                  <option value="<%= dateObj.date %>"><%= dateObj.date %></option>
              <% }) %>
          </select>
      </div>
  
     
<label for="ora" class="form-label">Ora</label>
<select id="ora" name="ora" class="form-control mb-3" aria-label="Default select example" required>
  <% if (datesWithAvailableHours.length > 0 && datesWithAvailableHours[0].hours.length > 0) { %>
    <% datesWithAvailableHours[0].hours.forEach(hour => { %>
      <option value="<%= hour %>"><%= hour %></option>
    <% }) %>
  <% } else { %>
    <option value="" disabled selected>No available times</option>
  <% } %>
</select>
             
             
          </div>
      
         </div>
      <button class="btn btn-success btn-block">Trimite</button>
      
      </form>
                         </div>
                  </div>
              </div>
          </div>
      </div>
    
    </div>

    </div>
    <script>
      function reverseDateFormat(dateString) {
          // Split the date string into its components
          const [year, month, day] = dateString.split('-');
          
          // Reformat the date components
          return `${day}/${month}/${year}`;
      }
  
      // Function to update the options in the select element
      function updateDateOptions() {
          const selectElement = document.getElementById('date');
          
          // Iterate over each option and update its text
          Array.from(selectElement.options).forEach(option => {
              const originalDate = option.value;
              option.text = reverseDateFormat(originalDate);
          });
      }
  
      // Call the function after the page loads
      document.addEventListener('DOMContentLoaded', updateDateOptions);
      
      // Attach a submit event listener to the form
      document.querySelector('form').addEventListener('submit', function() {
          // Convert the plate input value to uppercase before submitting the form
          const plateInput = document.getElementById('plate');
          plateInput.value = plateInput.value.toUpperCase();
      });
      

    const datesWithAvailableHours = <%- JSON.stringify(datesWithAvailableHours) %>;

    document.getElementById('date').addEventListener('change', function() {
        const selectedDate = this.value;
        const hoursSelect = document.getElementById('ora');
        const selectedDateObj = datesWithAvailableHours.find(dateObj => dateObj.date === selectedDate);

        // Clear previous options
        hoursSelect.innerHTML = '';

        // Populate hours for the selected date
        if (selectedDateObj) {
            selectedDateObj.hours.forEach(hour => {
                const option = document.createElement('option');
                option.value = hour;
                option.textContent = hour;
                hoursSelect.appendChild(option);
            });

        }
    });



    document.getElementById('myForm').addEventListener('submit', function(event) {
    const selectElement = document.getElementById('ora');
    const selectedValue = selectElement.value;

    // Prevent form submission if no valid option is selected
    if (selectedValue === "" || selectedValue === "No available times") {
      alert('Please select a valid time slot.');
      event.preventDefault(); // Prevent form submission
    }
  });

  </script>