<head>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <% layout('/layouts/boilerplate') %>
  
  <div class="media-container">
    <video class="responsive-video" autoplay loop muted playsinline>
      <source src="https://res.cloudinary.com/dn9nc0upp/video/upload/v1724835957/Untitled_nkqvyo.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <img class="responsive-image" src="https://res.cloudinary.com/dn9nc0upp/image/upload/v1726121650/IMG_8556_lodnzd.jpg" alt="Responsive Image">
    <div class="OverVideoDiv">
       <h2>Text here</h2>
       <form action="/#MakeAnAppoinment">
        <button class="ProgrameazateButton">Programează-te aici<p class="ArrowButton">&rarr;</p></button>
       </form>
    </div>
    <div class="ButtonGroup">
        <form action="/program"><button id="first" class="SelectButton">Program</button></form>
        <form action="/#contact"><button id="second"class="SelectButton">Contact</button></form>
        <form action="https://maps.app.goo.gl/uN2vfMr2XfX8zH1q8"><button id="third"class="SelectButton">Locație</button></form>
    </div>

  </div>

  <div class="container">
          <div class="ServiceCardTitleDiv">
            <h3>Serviciile noastre</h3>
            <img src="https://res.cloudinary.com/dn9nc0upp/image/upload/v1727330124/Vector_kbgdqx.svg" alt="">
          </div>
  <section class="serviceCard">
    <% for(let service of services) {%>
          <div class="card">
            <div class="left-service-side">
              <img src="<%= service.images[0].url %>"  alt="...">
            </div>
            <div class="right-service-side">
              <div class="right-side-top">
                <a href="/services/<%=service._id %>" class="right-side-top-title"><%=service.name%> &rarr;</a>
                <% if (currentUser && currentUser.role === 'manager') { %>
                <div class="right-side-top-buttons">
                  <a class="btn btn-warning me-2" href="/services/<%=service._id %>/edit">Modifică</a>
                    <form action="/services/<%=service._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Șterge</button>
                    </form>
                </div>
                <% } %>
              
              </div>
              <p id="limited-paragraph"><%=service.description %></p>

            </div>


          </div>


      <% } %>
  </section>
  <div class="line-div">
    <img src="https://res.cloudinary.com/dn9nc0upp/image/upload/v1726126505/Line_5_eegm5k.svg" alt="" class="line">
  </div>

  <section class="Important-info-section">
    <div class="cube"><a href="/program">Program</a><a href="/program"><img class="arrowImg" src="https://res.cloudinary.com/dn9nc0upp/image/upload/v1727425165/Vector_ar2k8n.svg" alt=""></a></div>
    <div class="cube" id="contact"><h2>Contact</h2><h3>0790217727</h3></div>
    <div class="cube">
      <a href="https://maps.app.goo.gl/uN2vfMr2XfX8zH1q8">Locație</a><a href="https://maps.app.goo.gl/uN2vfMr2XfX8zH1q8"><img class="arrowImg" src="https://res.cloudinary.com/dn9nc0upp/image/upload/v1727425165/Vector_ar2k8n.svg" alt=""></a>
    </div>
  </section>
  

</div>
<section class="Text-Img">
<img src="https://res.cloudinary.com/dn9nc0upp/image/upload/v1727504028/IMG_8667_xd4bmt.jpg" alt="">
<h1>Afacere de familie, condusă de profesioniști: <br> îngrijire auto sustenabilă  în care poți avea încredere</h1>
<form action="/#MakeAnAppoinment">
  <button class="ProgrameazateButton2">Programează-te aici<p class="ArrowButton2">&rarr;</p></button>
 </form>
</section>
<div class="container" id="container2">

<div class="line-div">
  <img src="https://res.cloudinary.com/dn9nc0upp/image/upload/v1726126505/Line_5_eegm5k.svg" alt="" class="line">
</div>

<section class="Angajati-Section">
  <div class="Angajati-title-div"> 
    <h1>Fă cunoștință cu echipa</h1>
    <img class="img-angajati" src="https://res.cloudinary.com/dn9nc0upp/image/upload/v1727679531/Clip_path_group_uszlm6.svg" alt="">
  </div>
  <div class="angajat-carousel-control-buttons2">
    <button>&larr;</button>
    <button>&rarr;</button>
  </div>
<% for(let angajat of an) {%>

  <div class="AngajatiCard">
       <div class="img-div-angajati">
        <img src="<%= angajat.images[0].url %>"  alt="">
       </div>
       <div class="angajat-presentation-side">
        <div class="Title-roll-actionButtons">
          <div>
        <h3 class="nume-angajat"><%=angajat.name %></h3>
        <h4 class="rol-angajat"><%=angajat.role %></h4>
          </div>
          <div>
        <% if (currentUser && currentUser.role === 'manager') { %>
          <div id="buttonsDiv" class="d-flex mb-2">
              <a class="btn btn-warning me-2 mb-2" href="/angajati/<%=angajat._id %>/edit">Modifică</a>
              <form action="/angajati/<%=angajat._id %>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-info">Șterge</button>
              </form>
            </div>
      <% } %>
    </div>
      </div>
      <div class="text-angajat-div">
        <p class="about-angajat"><%=angajat.about %></p>
      </div>
       </div>
  </div>

  <% } %>
    <div class="angajat-carousel-control-buttons">
      <button>&larr;</button>
      <button>&rarr;</button>
    </div>

</section>


</div>






<script src="/javascripts/carousel.js"></script>

<script>
  function limitWords(selector, wordLimit) {
    const paragraphs = document.querySelectorAll(selector);  // Select all matching elements

    paragraphs.forEach(paragraph => {
        const words = paragraph.innerText.split(' ');  // Split the paragraph text into words

        if (words.length > wordLimit) {
            paragraph.innerText = words.slice(0, wordLimit).join(' ') + '...';  // Limit the words
        }
    });
}

// Apply this to all paragraphs inside cards with a word limit of 50
limitWords('.card p', 30);



 // Get all cards
 const cards = document.querySelectorAll('.card');

// Loop through each card and set top with 20px increments
cards.forEach((card, index) => {
    let topValue = index * 20;  // 0px for first card, 20px for second, 40px for third, etc.
    card.style.top = topValue + 'px';
});
</script>