<% layout('/layouts/boilerplate') %>
<div class="container">
<h1 class="mb-4">Welcome to the homePage</h1>
<div class="mb-4">
<form action="/cars/search" method="GET" class="search-form">
  <div class="mb-3">
      <label for="plate" class="form-label">Number Plate</label>
      <input type="text" name="plate" id="plate" class="form-control" placeholder="Enter car plate number" required>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>


<h3 class="mb-4">Service section</h3>
    <% for(let service of services) {%>
      <div class="card mb-3" style="max-width: 600px;">
      
        <div class="row g-0">
          <div class="col-md-4">
            <img src="<%= service.images[0].url %>" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
             <a href="/services/<%=service._id %>"> <h5 class="card-title"><%=service.name %></h5> </a>
              <% if (currentUser && currentUser.role === 'manager') { %>
                <div class="d-flex mb-2">
                    <a class="btn btn-warning me-2" href="/services/<%=service._id %>/edit">Edit</a>
                    <form action="/services/<%=service._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            <% } %>
            </div>
          </div>
        </div>
     
      </div>
        <% } %>




<h3 class="mb-4" >Postari section</h3>

<% for(let post of postari) {%>
    <div class="card mb-3" style="max-width: 600px;">
      
        <div class="row g-0">
          <div class="col-md-4">
            <img src="<%= post.images[0].url %>" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
             <a href="/postari/<%=post._id %>"> <h5 class="card-title"><%=post.name %></h5> </a>
              <% if (currentUser && currentUser.role === 'manager') { %>
                <div class="d-flex mb-2">
                    <a class="btn btn-warning me-2" href="/postari/<%=post._id %>/edit">Edit</a>
                    <form action="/postari/<%=post._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            <% } %>
            </div>
          </div>
        </div>
     
      </div>
      
        <% } %>
    
    
   



<h3 class="mb-4" >Angajati section</h3>

<% for(let angajat of an) {%>
    <div class="card mb-3 " style="max-width: 600px;">
      
        <div class="row g-0">
          <div class="col-md-4">
            <img src="<%= angajat.images[0].url %>" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title"><%=angajat.name %></h5> 
            <h6 class="card-title"><%=angajat.role %></h6> 
              <% if (currentUser && currentUser.role === 'manager') { %>
                <div class="d-flex mb-2">
                    <a class="btn btn-warning me-2" href="/angajati/<%=angajat._id %>/edit">Edit</a>
                    <form action="/angajati/<%=angajat._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            <% } %>
            </div>
          </div>
        </div>
     
      </div>
      
        <% } %>
    
    
    
    </div>

    </div>
    <script>
      // Attach a submit event listener to the form
      document.querySelector('form').addEventListener('submit', function() {
          // Convert the plate input value to uppercase before submitting the form
          const plateInput = document.getElementById('plate');
          plateInput.value = plateInput.value.toUpperCase();
      });
  </script>