<head>
    <link rel="stylesheet" href="/stylesheets/postariInvidual.css">
</head>

<% layout('/layouts/boilerplate') %>
  
<section class="container">
    <div class="image-side">
        <div class="carousel">
          <div class="carousel-container">
            <% post.images.forEach((img, i) => { %>
              <div class="carousel-slide <%= i === 0 ? 'active' : ''%>">
                <div class="image-carousel">
                    <img src="<%= img.url %>" alt="Image <%= i + 1 %>">
                </div>
               
              </div>
            <% }) %>
          </div>
    </div>
      
      <!-- Navigation Arrows -->
       <div class="ArrowDiv">
      <button class="prev">&larr;</button>
      <button class="next">&rarr;</button>
    </div>
    </div>
    </div>


    <div class="TextSide">
     <h3 class="PostName"><%=post.name %></h3>
     <p class="PostDescription"><%=post.description %></p>
    </div>




  </section>

<script src="/javascripts/carousel.js"></script>