<head>
  <link rel="stylesheet" href="/stylesheets/AllCars.css">
</head>

<% layout('/layouts/boilerplate') %>


<div class="container">
  <div class="Top-div">
  <h2>Mașini în service</h2>
  <button class="EditButton" id="DeleteBtn">Selecteaza</button>
  </div>
  <section class="MainSection">
   <%for(let car of cars){ %>
    <div class="CarContainer">
              
      <div class="car-left-div">
        <div class="delete-div">
          <form action="/cars/<%=car._id %>?_method=DELETE" method="POST">
              <button type="submit" class="delete-btn">&#120;</button>
          </form>
      </div>   
      <div class="info-div">
      <h6 class="car-name"><%= car.owner %> // <%=car.model %></h6>
      <h6 class="car-plate"> <%=car.plate %></h6>
    </div>
      </div>
      <div class="car-right-div">
        <a class="Edit-btn" href="/cars/<%=car._id %>/edit">Modifică</a>
        <form action="/cars/<%=car._id %>?_method=DELETE" method="POST">
          <button type="submit" class="Delete-btn">Șterge</button>
      </form>
      </div>
     </div>
    <% } %>
  </section>

</div>



<script>
  // Select the main button
  const btn = document.getElementById('DeleteBtn'); 
    
    // Get all elements with the class 'delete-btn'
    const btns = document.getElementsByClassName('delete-btn'); 

    // Add event listener to the DeleteBtn
    btn.addEventListener('click', function() {
        // Loop through each button in the collection
        for (let i = 0; i < btns.length; i++) {
            // Toggle between 'delete-btn' and 'delete-btn-visible' on each button
            btns[i].classList.toggle('delete-btn-visible'); // Toggle the class
        }
    });
</script>