<% layout('/layouts/boilerplate') %>
<div class="container">
<h1 class="mb-4">All the Cars in Service</h1>

<div class="d-flex flex-row align-items-center">
    <% for(let car of cars) {%>
        <div class="card mb-4 mr-4" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title mb-2">Number Plate: <%=car.plate %></h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Car model: <%= car.model %></h6>
              <h6 class="card-subtitle mb-2 text-body-secondary"> Car owner: <%= car.owner%></h6>
              <h6 class="card-subtitle mb-2 text-body-secondary"> Car status: <%= car.status%></h6>
              <% if (currentUser) { %>
                <div class="d-flex mb-2">
                    <a class="btn btn-warning me-2" href="/cars/<%=car._id %>/edit">Edit</a>
                    <a class="btn btn-info me-2" href="/cars/<%=car._id %>">Vezi</a>
                    <form action="/cars/<%=car._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            <% } %>
            
            </div>
          </div>

        <% } %>

      </div>