<head>
    <link rel="stylesheet" href="/stylesheets/EditCar.css">
</head>

<% layout('/layouts/boilerplate') %>


<div class="container">
    <div class="Top-div">
        <h2>Modifică status & detalii</h2>
        </div>
<section class="MainSection">
    <div class="CarContainer">
              
        <div class="car-left-div">
            <form action="/cars/<%=cars._id%>?_method=PUT" method="POST" novalidate class="validated-form"  >
                <div class=" mb-3">
                    <label for="model" class="form-label">Model</label>
                    <input type="text" name="model" id="model" class="form-control" placeholder="model" value="<%=cars.model %>" required>
                    <div class="valid-feedback">
                     Looks good!
                    </div>
                   </div>
                
                   <div class=" mb-3">
                    <label for="plate" class="form-label">Număr de înmatriculare</label>
                    <input type="text" name="plate" id="plate" class="form-control" placeholder="plate" value="<%=cars.plate %>" required>
                    <div class="valid-feedback">
                     Looks good!
                    </div>
                   </div>
                
                   <div class=" mb-3">
                    <label for="owner" class="form-label">Proprietar</label>
                    <input type="text" name="owner" id="owner" class="form-control" placeholder="owner" value="<%=cars.owner %>" required>
                    <div class="valid-feedback">
                     Looks good!
                    </div></div>
                    <div class=" mb-3">
                        <label for="phone" class="form-label">Telefon</label>
                        <input type="text" name="phone" id="phone" class="form-control" placeholder="phone number"  value="<%=cars.phone %>"required>
                        <div class="valid-feedback">
                         Looks good!
                        </div>
                        
                        
                    <div class=" mb-3 mt-3">
                        <label for="status" class="form-label text">Status mașină</label>
                        <select class="form-select" name="status" aria-label="Default select example" >
                            <%for(let stat of status){  %>
                                <option value="<%= stat%>" <%= cars.status === stat ? 'selected' : ''  %>><%=stat %></option>
                                <% } %>
                          </select>
                       </div>
                
                   </div>
                <button class="btn btn-danger btn-block">Modifică</button>
            
            </form>
        </div>   
       
       
        <div class="car-right-div">
            <div class="Add-piesa">
                <h5>Adaugă o piesă</h5>
                <form action="/cars/<%= cars._id %>/piese" method="POST" class="mb-3 validated-form" novalidate>
                  <div class="mb-3">
                      <div class="mb-3">
                          <label for="name" class="form-label">Piesă</label>
                          <input type="text" name="piese[name]" id="name" class="form-control" placeholder="numele piesei" required>
                          <div class="valid-feedback">
                              Looks good!
                          </div>
                      </div>
                      <div class="mt-3 mb-3">
                          <label for="status" class="form-label">Status piesă</label>
                          <select id="status" name="piese[status]" class="form-control" aria-label="Default select example">
                              <% for(let stat of statusPiese) { %>
                                  <option value="<%= stat %>"><%= stat %></option>
                              <% } %>
                          </select>
                      </div>
                      <div class="valid-feedback">
                          Looks good!
                      </div>
                  </div>
                  <button class="btn  btn-danger btn-block">Adaugă</button>
              </form>     
            </div>
            <div class="all-piese">
                <h5>Piese</h5>
                <% for(let piesa of cars.piese) { %>
                   <div class="piesa-cnt">
                    <div class="left-side">
                        <h6 class="piesa-name"><%= piesa.name %></h6>
                        <h6 class="piesa-status">Status: <%=piesa.status %></h6>
                    </div>
                    <div class="right-side">
                        <form action="/cars/<%= cars._id %>/piese/<%= piesa._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="DeleteButton">Șterge</button>
                        </form>
                    </div>

                   </div>
              <% } %>

        </div>
      

 </div>


</section>



</div>