<head>
    <link rel="stylesheet" href="/stylesheets/FindCar.css">
</head>

<% layout('/layouts/boilerplate') %>



<div class="container">
    <h1>Statusul masinii mele</h1>
<section class="Main">
    <section class="UserSide">
        <div class="CarInfo">
        <h4><%=cars.model%><%if(currentUser){%> // <%=cars.owner%><% } %></h4>
        <h6><%=cars.plate %></h5>
        </div>
        <div class="StatusInfo">
            <h3 class="<%= cars.status === 'Verificare' ? 'active' : ''  %>">În curs de evaluare</h3>
            <div class="Arrow"></div>
            <h3 class="<%= cars.status === 'Se lucreaza' ? 'active' : ''  %>">Se lucrează</h3>
            <div class="Arrow"></div>
            <h3 class="<%= cars.status === 'Gata de ridicare' ? 'active' : ''  %>">Gata de preluare</h3>
        </div>
    </section>
    <% if(currentUser){ %>
    <section class="ManagerSide">
         <h6>Piese</h6>
         <div class="piese">
        <% for(piesa of cars.piese){%>
     <div class="PiesaContainer">
        <div class="leftSide">
        <h2><%=piesa.name%></h2>
        <h3>Status: <%=piesa.status%></h3>
    </div>
    <div class="rightSide">
        <form action="<%=piesa._id%>">
            <button  class="EditButton">Editeaza</button>
        </form>
       <form action="/cars/<%= cars._id %>/piese/<%= piesa._id %>?_method=DELETE" method="POST">
        <button class="DeleteButton">Sterge</button>
       </form> 
    </div>
     </div>
<% } %>
         </div>
    </section>
        <% }else{ %>
    <section class="emptySection"></section>        
        <% } %>
</section>
</div>
